In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

In [22]:
plt.style.use('dark_background')

In [26]:
df = pd.DataFrame({'size': [1500, 1440, 2200, 3000, 1700, 2800],
                   'rooms': [2, 3, 3, 3, 4, 5],
                   'floors': [1, 2, 1, 2, 2, 2],
                   'price': [500, 700, 1200, 1100, 1080, 1700]})
df

   size  rooms  floors  price
0  1500      2       1    500
1  1440      3       2    700
2  2200      3       1   1200
3  3000      3       2   1100
4  1700      4       2   1080
5  2800      5       2   1700

In [27]:
df['floor_size'] = df['size']/df['floors']
df['room_size'] = df['floor_size']/df['rooms']

In [28]:
df

   size  rooms  floors  price  floor_size   room_size
0  1500      2       1    500      1500.0  750.000000
1  1440      3       2    700       720.0  240.000000
2  2200      3       1   1200      2200.0  733.333333
3  3000      3       2   1100      1500.0  500.000000
4  1700      4       2   1080       850.0  212.500000
5  2800      5       2   1700      1400.0  280.000000

In [29]:
df.corr()['price']

size          0.756554
rooms         0.874190
floors        0.364503
price         1.000000
floor_size    0.261433
room_size    -0.319403
Name: price, dtype: float64

In [42]:
lin_model = LinearRegression()
lin_model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [45]:
param_grid = [
    {'fit_intercept': [True]},
    {'fit_intercept': [False]}
]

In [46]:
tuned_model = GridSearchCV(lin_model, param_grid, cv = 3,
                          scoring = 'neg_mean_squared_error',
                          return_train_score = True)
tuned_model.fit(df.drop('price', axis = 1), df['price'])

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=LinearRegression(copy_X=True, fit_intercept=True,
                                        n_jobs=None, normalize=False),
             iid='warn', n_jobs=None,
             param_grid=[{'fit_intercept': [True]}, {'fit_intercept': [False]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=0)

In [48]:
tuned_model.get_params()

{'cv': 3,
 'error_score': 'raise-deprecating',
 'estimator__copy_X': True,
 'estimator__fit_intercept': True,
 'estimator__n_jobs': None,
 'estimator__normalize': False,
 'estimator': LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False),
 'iid': 'warn',
 'n_jobs': None,
 'param_grid': [{'fit_intercept': [True]}, {'fit_intercept': [False]}],
 'pre_dispatch': '2*n_jobs',
 'refit': True,
 'return_train_score': True,
 'scoring': 'neg_mean_squared_error',
 'verbose': 0}

In [50]:
tuned_model.best_params_

{'fit_intercept': False}

In [51]:
tuned_model.best_estimator_

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None, normalize=False)

In [53]:
lin_model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}